*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f7fb;
    color:#333;
}

nav{
    width:100%;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#1e3a8a,#2563eb);
    color:white;
}

.circle{
    width:160px;
    height:160px;
    border-radius:50%;
    background:white;
    color:#1e3a8a;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    font-size:70px;
    font-weight:bold;
    margin-bottom:20px;
}

.hero h1{
    font-size:45px;
}

.hero span{
    color:#facc15;
}

.hero h3{
    margin-top:10px;
}

.hero p{
    width:70%;
    margin:20px auto;
    line-height:28px;
}

.btn{
    display:inline-block;
    padding:12px 30px;
    background:#facc15;
    color:black;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}

section{
    padding:70px 10%;
}

section h2{
    text-align:center;
    color:#1e3a8a;
    margin-bottom:35px;
}

.skill-box,
.project-box{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card,
.project{
    background:white;
    padding:25px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover,
.project:hover{
    transform:translateY(-8px);
}

.card i{
    font-size:45px;
    color:#2563eb;
    margin-bottom:15px;
}

#about p,
#contact p{
    text-align:center;
    line-height:30px;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

@media(max-width:768px){

nav{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
}

.hero h1{
    font-size:34px;
}

.hero p{
    width:95%;
}

}